:root {
    --fc-page-bg-color: rgb(0, 16, 32);
    --fc-border-color: rgb(168, 147, 105);

    --fc-button-bg-color: rgb(0, 16, 32);
    --fc-button-border-color: rgb(168, 147, 105);
    --fc-button-hover-bg-color: rgb(0, 21, 42);
    --fc-button-hover-border-color: rgb(233, 194, 39);
    --fc-button-active-bg-color: rgb(0, 16, 32);
    --fc-button-active-border-color: rgb(233, 194, 39);
}

@media (min-width: 0px) {
    .fc-toolbar-title {
        font-size: 1.25rem !important;
    }
    .fc-button {
        font-size: 0.875rem !important;
    }
    .fc-scrollgrid {
        border-left-width: 0px !important;
    }
    .fc-scrollgrid-section > td {
        border-right-width: 0px !important;
    }
    .fc-scrollgrid-section > th {
        border-width: 0px;
    }
    .fc-icon {
        line-height: 14px;
    }
    .fc-event-title-container {
        font-size: 0.625rem;
    }
    .fc-col-header-cell-cushion {
        font-size: 0.75rem !important;
        font-weight: 300;
    }
}

@media (min-width: 600px) {
    .fc-toolbar-title {
        font-size: 1.5rem !important;
    }
    .fc-button {
        font-size: 1rem !important;
    }
    .fc-scrollgrid {
        border-left-width: 1px !important;
        border-radius: 8px !important;
    }
    .fc-scrollgrid-section > td {
        border-right-width: 1px !important;
        border-radius: 0px 0px 8px 8px !important;
    }
    .fc-scrollgrid-section > th {
        border-width: 1px;
        border-radius: 8px 8px 0px 0px !important;
    }
    .fc-icon {
        line-height: 16px;
    }
    .fc-event-title-container {
        font-size: 0.875rem;
        padding: 0px 4px;
    }
    .fc-col-header-cell-cushion {
        font-size: 0.875rem !important;
        font-weight: 300;
    }
}

.fc-header-toolbar {
    padding-left: 8px;
    padding-right: 8px;
}

.fc-toolbar-title,
.fc-button {
    font-weight: 300 !important;
}

.fc .fc-button {
    height: 32px !important;
    border-radius: 4px;
}

.fc .fc-button:focus,
.fc .fc-button:focus-visible {
    box-shadow: none !important;
    outline: none;
    border-color: rgb(233, 194, 39);
}

.fc .fc-today-button {
    padding: 0px 16px;
}

.fc-icon-chevron-left,
.fc-icon-chevron-right {
    padding: 0px;
}
