body {
    margin: 0;
    background-color: transparent;
    font-family: Inter, "Segoe UI", Roboto, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:has(.lock-scroll):not(.nav-mobile) {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

span > a {
    color: rgb(30, 175, 255);
}

ul {
    margin: 0;
    padding-left: 18px;
}

#background-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    scale: 1.05;
}
