:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: transparent;
    font-family: Inter, "Segoe UI", Roboto, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:has(.lock-scroll):not(.nav-mobile) {
    overflow: hidden;
}

code {
    font-family: Consolas, "Courier New", Menlo, Monaco, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

span > a {
    color: rgb(30, 175, 255);
}

ul {
    margin: 0;
    padding-left: 18px;
}

#background-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    scale: 1.05;
}

.background-video {
    transition: opacity 1s;
}

.background-video.fading {
    opacity: 0;
}

#global-error {
    background-color: rgba(8, 32, 72, 0.75);
    border-radius: 4px;
}

.global-error-text,
.global-error-code-text {
    color: white;
}

.global-error-text {
    font-family: Rowdies;
    font-weight: 300;
}

.global-error-code-text {
    font-size: 11pt;
}
