.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo.github:hover {
    filter: drop-shadow(0 0 7px #ebeef5aa);
}

.logo.next:hover {
    filter: drop-shadow(0 0 7px #f0f0f5aa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 7px #61dafbaa);
}

.logo.mui:hover {
    filter: drop-shadow(0 0 7px #0073e6aa);
}
